<!DOCTYPE html>
<html>
<head>
  <title>CssSocialButtonsRails</title>
  <%= stylesheet_link_tag    "css-social-buttons-rails/application", :media => "all" %>
  <%= javascript_include_tag "css-social-buttons-rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
